.contributeMain{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 100px 0px;
    justify-content: center;
    align-items: center;
}
.Contribute{
    display: flex;
    flex-direction: column;
    background-image: url("https://www.cysdcam.org/wp-content/uploads/2025/11/blackkid-scaled.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 95%;
    border-radius: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.Contribute h2{
    font-size: 50px;
    width: 90%;
}
.contributeButtons{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.contributeBtn2{
    background-color: #1c1d6f;
    color: white;
    font-size: 20px;
    font-family: "Roboto Extra Bold";
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
}
.contributeBtn1{
    font-family: "Roboto Extra Bold";
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .contributeMain{
        padding: 20px 0px 10px 0px;
    }
    .Contribute{
        justify-content: flex-start;
        height: 300px;
    }

    .Contribute h2{
        font-size: 25px;
        width: 90%;
        margin-top: 30px;
    }
    .contributeButtons{
        margin-top: 10px;
        justify-content: space-around;
        gap: 20px;
    }
    .contributeBtn2{
        padding: 10px;
        font-size: 16px;
    }
    .contributeBtn1{
        padding: 10px;
        font-size: 16px;
    }
}