.footerMain{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: var(--secondary-color);
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
    align-items: center;
}
.footerSubscribe h3{
    font-family: "Roboto Black Italic";
    font-size: 25px;
}
.footerSubscribe p{
    font-family: "Roboto Light Italic";
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.footerTop{
    display: flex;
    gap: 100px;
}
.newsletter{
    display: flex;
    align-items: center;
}
.newsletter input{
    width: 400px;
    height: 25px;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 5px;
}
.newsletter button{
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -100px;
}
.footerSection h3{
    font-family: "Roboto Medium";
    font-size: 20px;
}
.footerSection p{
    font-family: "Roboto Regular";
    font-size: 16px;
}
.footerSocials h3{
    font-family: "Roboto Medium";
    font-size: 20px; 
}
.footerSocials p{
    font-family: "Roboto Regular";
    font-size: 16px;
}
.footerOptions{
    display: flex;
    gap: 100px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.mapSection{
    display: flex;
    justify-content: left;
    width: 100%;
}
iframe{
    margin-left: 100px;
}

@media screen and (max-width:768px) {
    .footerTop{
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }
    .footerSubscribe{
        align-items: center;
        justify-content: center;
    }
    .newsletter input{
        width: 600px;
    }
    .mapSection{
        margin-top: 30px;
    }
}

@media screen and (max-width:600px ){
    .footerMain{
        display: flex;
        flex-direction: column;
    }
    .footerTop{
        flex-direction: column;
        gap: 0px;
    }
    .newsletter{
        padding: 20px 10px;
    }
    .newsletter input{
        width: 300px;
    }
    .footerOptions{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
        text-align: left;
        align-items: flex-start;
        padding-bottom: 20px;
        width: 90%;

    }
    iframe{
        margin-left: 10px;
    }
}