@font-face {
    font-family: "Roboto Regular";
    src: url(../assets/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../assets/Roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: "Roboto Extra Bold";
    src: url(../assets/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: "Roboto Light";
    src: url(../assets/Roboto/Roboto-Light.ttf) format("truetype");
    font-weight: lighter;
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url(../assets/Roboto/Roboto-LightItalic.ttf) format("truetype");
    font-weight: lighter;
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url(../assets/Roboto/Roboto-BlackItalic.ttf) format("truetype");
    font-weight: lighter;
}


.navMain{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: transparent;
    height: 65px;
    padding-top: 20px;
    margin-bottom: -100px;
}
.navBody{
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}
.navLogo img{
    width: auto;
    height: 80px;
}
.navOptions{
    display: flex;
    gap: 50px;
}
.navOptions .link{
    font-family: "Roboto Extra Bold";
    cursor: pointer;
    transition-duration: 0.5s;
    height: 25px;
    width: max-content;
    padding: 5px;
    transition-timing-function: ease-in-out;
    font-size: 20px;
    color: white;
}
.link{
    text-decoration: none;
}
.navOptions .link:hover{
    background-color: white;
    border-radius: 5px;
    color: var(--tertiary-color);
}
.DonateIcon p{
    background-color: #1c1d6f;
    color: white;
    font-size: 20px;
    font-family: "Roboto Extra Bold";
    padding: 13px;
    border-radius: 10px;
}
.donatePc{
    text-decoration: none;
}
.mobileNavOptions{
    display: none;
} 
#hamburger{
    display: none;
}

@media screen and (max-width:1024px) {
    .navBody{
        gap: 0px;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }
    .DonateIcon{
        display: none;
    }
    .navOptions{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        width: auto;
        height: 25px;
        z-index: 3;
    }
    .mobileNavOptions{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -110px;
        background-color: black;
        color: white;
        gap: 50px;
        padding: 80px 0px 80px 20px;
        text-align: center;
    }
    .Link{
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        padding: 10px;
        width: 50%;
        font-size: 20px;
        font-family: "Roboto Extra Bold";
        text-decoration: none;
    }
    .donate{
        background-color: #1c1d6f;
        color: white;
        font-size: 20px;
        font-family: "Roboto Extra Bold";
        padding: 13px;
        border-radius: 10px;
        width: 50%;
        }
}


@media screen and (max-width:768px) {
    .navBody{
        gap: 0px;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }
    .DonateIcon{
        display: none;
    }
    .navOptions{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        width: auto;
        height: 25px;
        z-index: 3;
    }
    .mobileNavOptions{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -110px;
        background-color: black;
        color: white;
        gap: 50px;
        padding: 80px 0px 80px 20px;
        text-align: center;
    }
    .Link{
        border: 1px solid white;
        border-radius: 100px;
        color: white;
        padding: 10px;
        width: 50%;
        font-size: 20px;
        font-family: "Roboto Extra Bold";
        text-decoration: none;
    }
    .donate{
        background-color: #1c1d6f;
        color: white;
        font-size: 20px;
        font-family: "Roboto Extra Bold";
        padding: 13px;
        border-radius: 10px;
        width: 50%;
        }
    
}
@media screen and (max-width:480px) {
    .navBody{
        gap: 0px;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }
    .navLogo img{
        height: 50px;
    }
    .navOptions{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        width: auto;
        height: 25px;
        z-index: 3;
    }
    .mobileNavOptions{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -75px;
        background-color: black;
        color: white;
        gap: 50px;
        padding: 80px 0px 80px 20px;
        text-align: center;
    }
    .Link{
        border: 1px solid white;
        border-radius: 100px;
        padding: 10px;
        width: 80%;
        font-size: 20px;
        font-family: "Roboto Extra Bold";
    }
    .DonateIcon{
        display: none;
    }
    .donate{
    background-color: #1c1d6f;
    color: white;
    font-size: 20px;
    font-family: "Roboto Extra Bold";
    padding: 13px;
    border-radius: 10px;
    }
}