.whatwedo-heading{
    display: flex;
    background-color: var(--secondary-color);
    padding: 150px 20px 100px 20px;
    color: var(--primary-color);
    justify-content: space-around;
    text-align: left;
    margin-top: -100px;
}
.whatwedo-leftSection{
    width: 50%;
}
.whatwedo-desc{
    width: 80%;
}
.whatwedo-heading h1{
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Roboto Extra Bold";
}
.whatwedo-heading img{
    width: auto;
    height: 400px;
    border-radius: 20px;
}

.whatwedo-services{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 100px;
}
.service-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.serv{
    display: flex;
    align-items: center;
    width: 400px;
    gap: 20px;
}
.serv img{
    width: auto;
    height: 50px;
}
.serv p{
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-family: "Roboto Regular";
}
.documentary{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.documentary h2{
    font-size: 45px;
    margin-bottom: 50px;
    font-family: "Roboto Extra Bold";

}
.documentaryVideo{
    width: 90%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 80px;
}
.videos{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
.video-sec1{
    display: flex;
    gap: 50px;
    width: 100%;
}
.video-sec1 iframe{
    border-radius: 50px;
    width:450px;
    height: 350px;
}
.frame1{
background-color: white;
}
.videoTitle{
    padding: 50px 50px;
}
.videoTitle h2{
    font-size: 50px;
    font-family: "Roboto Black Italic";
}
.video-sec2{
    display: flex;
    gap: 50px;
    width: 100%;

}
.video-sec2 iframe{
    border-radius: 50px;
    width:450px;
    height: 300px;
}
.values-principles{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}



@media screen and (max-width:600px) {
    .whatwedo-heading{
        flex-direction: column;
    }
    .whatwedo-leftSection{
        width: 100%;
    }
    .whatwedo-desc{
        width: 90%;
        padding-bottom: 20px;
    }
    .whatwedo-heading img{
        height: 300px;
        margin-top: 50px;
    }
    .documentary{
        padding: 10px;
    }
    .documentaryVideo{
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }
    .videos{
        gap: 50px;
    }
    .video-sec1{
        flex-direction: column;
        align-items: center;
    }
    .video-sec1 iframe{
        border-radius: 10px;
        width:200px;
        height: 200px;
    }
    .video-sec2{
        flex-direction: column;
        align-items: center;
    }
    .video-sec2 iframe{
        border-radius: 10px;
        width:200px;
        height: 200px;
    }
    .videoTitle{
        display: none;
    }
}